<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # No reescribir si el archivo o directorio existe físicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Solo lo que no existe → enviar a index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Desactivar listado de directorios
Options -Indexes